@{
    ViewBag.PageTitle = "Våra Användare";
}
@section styles {
    <link rel="stylesheet" href="~/css/user-page.css"/>
}



<div class="landing">
    <div class="content">
        <h1>Användare</h1>
        <section>
        @foreach (var person in Model)
        {
            <div class="border-box">
                <a asp-route-personId=@person.PersonId>
                Namn: @person.PersonName<br> 
                Efternamn: @person.PersonLastName<br> 
                Titel: @person.PersonTitle<br>
                Email: @person.PersonEmail<br>
                Mobil: @person.PersonPhone</a>
            </div>
        }
    </section>
    </div>
</div>